<ion-app>
  <ion-menu type="overlay" contentId="main-menu" menuId="main-menu">
    <ion-header mode="md">
      <ion-toolbar mode="md" class="home-toolbar">
        <ion-buttons slot="start" mode="md">
          <ion-menu-button mode="md">
            <ion-icon name="eyedrop" color="medium"></ion-icon>
          </ion-menu-button>
        </ion-buttons>
        <ion-title size="small">
          <div class="ion-text-left">
            <ion-label class="logo">PANTHERA</ion-label>
          </div>
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle menu="main-menu">
          <ion-item lines="none" [routerLink]="['/']">
            <ion-icon name="business" slot="start"></ion-icon>
            <ion-label>Home Page</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>


    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-menu"></ion-router-outlet>
</ion-app>