<app-home-header [hide]="true" [header]="'User Portal'"></app-home-header>

<ion-content>
  <ion-grid class="ion-no-margin" >
    <ion-row>
      <ion-col offset="4" offset-md="4" offset-lg="5" offset-xl="5">
        <ion-text color="secondary">
          <h1 class="header">List of Offers</h1> 
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="(loading$ | async) as loading; else notloading">
      <ion-col>
        loading ...
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ng-template #notloading>
  <ion-col>
    <app-offer-tile *ngFor="let offer of offers" [offer]="offer"></app-offer-tile>
  </ion-col>
</ng-template>
